footer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: bottom;
  bottom: 0;
  background-color: lightgoldenrodyellow;
  width: 100%;
  height: 100%;
  /* padding-top: 10px; */
}

.media {
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
